body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#inicio {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "fuente";
  src: url('Love.ttf');
}

@font-face {
  font-family: "fuentedos";
  src: url('Autography.otf');
}

@font-face {
  font-family: "fuentenav";
  src: url('Valentine\ Cute.ttf');
}

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "fuentenav";
  font-size: 10px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navp1 {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 3vw;
}

.img {
  max-width: 100%;
  height: auto;

}

.navp2 {
  width: 70%;
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

li {
  margin: 0;
}

a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover {
  background-color: #d483c7;
  color: white;
}

#nones:hover {
  background-color: rgba(255, 255, 255, 0);
}

#video-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#videowalls {
  width: 50%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  margin-left: 17vw;
  border: 5px solid #f17fb4a9;
  border-radius: 10px;
}

.carta {
  display: flex;
  width: 100%;
  height: 90vh;
  flex-direction: column;
  align-items: center;
}

.tarjetainicio {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 60vw;
  height: 70vh;
  padding: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s, left 0.2s;
  margin: 15px;
  position: relative;
}

h3 {
  font-family: fuentedos;
  font-size: 24px;
}

p {
  font-family: fuente;
  font-size: 18px;
}

#casita {
  width: 100vw;
  height: 100vh;
}

.tarjetas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: row;
}

.tarjeta {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 23vw;
  height: 70vh;
  padding: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s, left 0.2s;
  margin: 15px;
  position: relative;
  margin-top: 10vh;
}

.tarjeta img {
  width: 20vw;
  height: 50vh;
  border-radius: 2px;
  object-fit: cover;
}

.tarjeta h4 {
  font-size: 20px;
}

.tarjeta p {
  font-size: 16px;
  color: #555;
}

.tarjeta p.fecha {
  display: block;
}

.tarjeta p.nuevo-texto {
  display: none;
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.tarjeta:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.tarjeta:hover img,
.tarjeta:hover h4,
.tarjeta:hover p.fecha {
  display: none;
}

.tarjeta:hover p.nuevo-texto {
  display: block;
}

.tarjeta:hover h4 {
  color: #ff6347;
}

.tarjeta:hover p {
  font-weight: bold;
}

#nosotros {
  width: 100vw;
  height: 100vh;
  font-family: fuentenav;
}

.divus {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30vh;
}

.tarjetaus {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 60vw;
  height: 40vh;
  padding: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s, left 0.2s;
  margin: 15px;
  position: relative;
  margin-top: 25vh;
}

#videowallsus {
  width: 65%;
  height: 70%;
  object-fit: cover;
  top: 0;
  left: 0;
  border: 5px solid #f17fb4a9;
  border-radius: 10px;
}



.titus {
  color: rgb(0, 0, 0);
}

.botones {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.botoness {
  background-color: #ff69b4;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  font-family: fuente;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#broma {
  width: 100%;
  height: 100vh;
  display: flex;
}

#bromis {
  width: 50%;
  height: 70%;
  object-fit: cover;
  top: 0;
  left: 0;
  margin-left: 25vw;
  border: 5px solid #f17fb4a9;
  border-radius: 10px;
}

.titlebromis {
  font-family: fuentenav;
  margin-top: 10vh;
}

.bromadiv {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
}



